/* This file is for your main application css. */

@import "./phoenix.css";

.help-block{
  color: red;
  text-transform: capitalize;
  /*position: absolute;
  top: 3px;*/
}

.form-control{
  position: relative;
  margin-bottom: 25px;
}
